@{
    ViewData["Title"] = "About";
}

<h3>@ViewData["Message"]</h3>


<p>“TopCAR Setubal, Alugue o seu carro de Luxo sem complicações.</p>
<p>para negócio ou lazer.”</p> 
<img src="~/images/Bugatti Chiron 2017 sports car.jpg" />