@{
    ViewData["Title"] = "Contact";
}
<h3>@ViewData["Message"]</h3>

<address>
    TopCAR – Aluguer de Carros de Luxo, SA<br />
    Rua dos Carros, nº1<br />
    2855-003 Quinta das Turbinas<br />
    Portugal<br />
    <abbr title="Phone">P:</abbr>
    210795000
</address>
<address>
    <strong>Alugar:</strong> <a href="mailto:alugar@example.com">alugar@example.com</a><br />
    <strong>Marketing:</strong> <a ref="mailto:Marketing@example.com">Marketing@example.com</a>
</address>